
img#Img {
    width: 20rem;
    height: 20rem;
    border-radius: 0.75rem;
    border: 0.3rem solid #ffffff97;

    
}

#article {
    display: flex;

    gap: 1.5rem;
}

#article .articles-infos h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    

}

#article .articles-infos h3 {
    font-size: 20px;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 1rem;
    
    
}

#article .articles-infos p {
    font-size: 2rem;
    
}        