* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #222;
    color: whitesmoke;
}

a {
    text-decoration: none;
}



section#articles {
    padding: 6rem;
    max-width: 124rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;

    gap: 2rem;
}