
img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}


header {
    background-color: #333;
    box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

header nav#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    max-width: 124rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 10rem;
}

header nav#navbar .nav-brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    align-content: space-evenly;
    font-family: "Grenze", serif;
    font-weight: 400;
    font-style: normal;

    gap: 1rem;
}

header nav#navbar ul.nav-list {
    display: flex;
    align-items: center;
    list-style: none;

    gap: 1.5rem;
}

header nav#navbar ul.nav-list li a {
    color: #aaa;
    font-size: 1.1rem;
    transition: color 0.2s;
    font-size: 2rem;
}

header nav#navbar ul.nav-list li a:hover {
    color: whitesmoke;
    transition: color 0.2s;
} 
